@import url('http://mmwebfonts.comquas.com/fonts/?font=myanmar3');

* {
  font-family: "Myanmar3", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 2 50%;
  display: flex;
}

#content {
  display: flex;
  align-self: center;
  justify-content: center;
}

hr {
  border: 1px solid #f2f2f2;
}

.card-content {
  position: relative;
  overflow: hidden;
}

.result-body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  z-index: 1000;
  background: white;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.result-body.visable {
  top: 0;
}

.result-with-zero-tax { display: none; }
.result-with-tax-amount { display: block; }

.result-body.visable.zero-tax .result-with-zero-tax { display: block; }
.result-body.visable.zero-tax .result-with-tax-amount { display: none; }
